<section class="about py-5" id="about">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-md-6 my-5">
                <h2>About <strong class="banner-title">Us</strong></h2>
                <p class="my-4 w-75">
                    We are proud to be associated closely with all the libraries from whom we source our books.
                    Most of our books are sourced directly from publishers.<br>
                    Discover new books and shop for all your needs from the comfort of your home
                    or office.No more getting stuck in traffic jams, paying for parking and standing 
                    in long queues – get everything you need, when you need, right at your doorstep. <br>
                    Trading is now easy as every book on your wishlist, is now available
                    online at our Trader's Market.
                    The best online market for books.
                </p>
                <a href="/books" class="btn btn-black">
                    EXPLORE
                </a>
            </div>
            <div class="col-10 mx-auto col-md-6 my-5 align-self-center">
                <div class="about-img_container">
                    <img src="/images/about.avif" class="img-fluid" alt="about image">
                </div>
            </div>
        </div>
    </div>
</section>