<div class="container-fluid">
    <div class="row max-height justify-content-center align-items-center">
        <div class="col-10 mx-auto banner text-center">
            <h1>
                Welcome to <strong class="banner-title">Trader's Market</strong>
            </h1>
            <a href="/books" class="btn btn-white banner-link my-2">EXPLORE</a>
        </div>
    </div>
</div>