<div class="col-md-6 footer-contact p-5">
    <h3 class="mb-5">Address</h3>
    <p class="d-flex flex-wrap ">
        <span class="mr-4 px-2 footer-icon">
            <i class="fa fa-map"></i>
        </span>
        <span>
            123 Main Street, Charlotte, North Carolina.
        </span>
    </p>
    <p class="d-flex flex-wrap ">
        <span class="mr-4 px-2 footer-icon">
            <i class="fa fa-phone"></i>
        </span>
        <span>
            +1 987 654 3210
        </span>
    </p>
    <p class="d-flex flex-wrap ">
        <span class="mr-4 px-2 footer-icon">
            <i class="fa fa-envelope"></i>
        </span>
        <span>
            tradersmarket@gmail.com
        </span>
    </p>
</div>