<footer id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 py-5 my-5 footer-title">
                <h1 class="text-center">
                    <strong>Trader's Market</strong>
                </h1>
                <div class="footer-icons d-flex flex-wrap">
                    <a href="#" class="footer-icon-social">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="footer-icon-social">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="footer-icon-social insta">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="footer-icon-social google">
                        <i class="fa-brands fa-google"></i>
                    </a>
                </div>
            </div>

            <%- include('../partials/contact.ejs')%>
        </div>
    </div>
</footer>
</body>

</html>