<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Home</title>
</head>

<body>
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum molestie porttitor ante a vehicula.
        Vestibulum vel fermentum arcu. Proin dignissim eget felis a sollicitudin. Mauris non lacus volutpat, aliquam
        elit pellentesque, mollis magna. Donec elementum facilisis augue eu elementum. Morbi porta vulputate justo, quis
        congue enim ultricies non. Interdum et malesuada fames ac ante ipsum primis in faucibus. In vehicula mollis
        nisi, vel vehicula leo maximus at. Morbi vitae nulla cursus, convallis risus ac, gravida nunc. Phasellus ac
        ultricies ante. Vivamus quis velit non velit pharetra dictum in lobortis augue. Pellentesque cursus tristique
        libero, id aliquam mi venenatis non. Vestibulum finibus, neque quis ullamcorper blandit, sapien sapien vulputate
        arcu, eu rutrum orci tellus ac lorem. Phasellus mi ex, sagittis hendrerit magna et, mollis convallis velit.</p>
</body>

</html>